.section {
    padding:8rem 0 7rem;
    text-align:center;
}

.section-heading, section-description{
    margin-top:12rem;
}


.showcase-img{
    position:relative;
    max-width:80%;
    margin:3rem auto -12rem;

}


.section-a {
    background-image: url('../assets/images/darkesdeth.JPG');
    color:white;
    background-size:cover;
    padding-bottom:5rem;
}

.section-a, .fa {
    font-size:40px;
    margin-bottom:0.5rem;

}


.lol {
    font-size:20px;
}

.bottom {
    margin-bottom:50px;
}